In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder\
.appName('pysparkbasics')\
.getOrCreate()
spark

In [6]:
data = [('Elakkiya',21),('Harish',22)]
columns = ['Name','Age']
df = spark.createDataFrame(data,columns)
df.show()

+--------+---+
|    Name|Age|
+--------+---+
|Elakkiya| 21|
|  Harish| 22|
+--------+---+

In [9]:
csv_data = """Name,Age,Department,Salary
Aarav,28,Sales,50000
Sneha,,Engineering,80000
Kabir,25,HR,
Anaya,29,,60000
Rohan,35,Engineering,85000
"""

with open('employees_missing.csv', 'w') as f:
  f.write(csv_data)

df = spark.read.csv('employees.csv', header= True, inferSchema= True)
df.show()
df.printSchema()

+-----+-----+-----------+
|EmpID| Name| Department|
+-----+-----+-----------+
|  101| Amit|      Sales|
|  102|Anita|Engineering|
|  103|Kabir|         HR|
|  104|Sneha|  Marketing|
|  105| Ravi|Engineering|
+-----+-----+-----------+

root
 |-- EmpID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)